body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	font-size: 12px;
	color: #00afff;
}

.developer {
	color: #ff0000;
}

.user_image
{
	display: none;
}

.input_text {
	margin-top: 2px;
	min-height: 24px;
	min-width: 25%;
}

.input_textarea {
	height: 50px;
	width: 50%;
}

.margin_b_10
{
	margin-bottom: 10px;
}

.exclaim {
    color: #ffbf00;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    width: 100%;
}

.box-header {
	height: 20px;
	color: #ffffff;
	background-color: #00afff;
	padding-left: 10px;
}

.sp_day {
	display: block;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 99%;
}

.sp_day h3, .sp_row_left h3
{
	font-size: 14px;
}

.sp_row, .sc_row, .ul_row {
	margin-top: 10px;
	display: inline-block;
	clear: both;
	width: 100%;
	height: 48px;
	max-height: 48px;
	border: 1px dotted;
}

.sp_opts, .sc_opts {
	margin-top: 10px;
	display: block;
	clear: both;
	width: 100%;
	height: 40px;
	max-height: 40px;
	border: 1px dotted;
	text-align: center;
}

.sp_row_right {
	display: inline-block;
	clear: left;
	float: right;
	width: 50%;
	height: 48px;
	max-height: 48px;
	vertical-align: top;
}

.sp_row_right img {
	max-height: 38px;
	vertical-align: middle;
}

.tr {
	display: inline-block;
	clear: both;
	width: 100%;
	min-height: 20px;
}

.th, .td {
	display: inline-block;
	padding-left: 20px;
	min-width: 100px;
	text-align: center;
}

.th {
	font-weight: bold;
}

.sc_col_id {
	width: 25%;
}

.sc_col_ip {
	width: 25%;
}

.sc_col_ua {
	width: 25%;
}

#streaminfo a
{
	display: inline-block;
	padding-left: 15px;
}

.sp_row_left {
	display: inline-block;
	clear: left;
	width: 15%;
	height: 100%;
	padding-top: 10px;
	vertical-align: middle;
}

.box-content {
	padding: 15px;
	text-align: center;
}

.navigation-box .box-header {
	display: none;
}

audio {
	max-width: 200px;
}

.box-content ul li {
	display: inline-block;
	list-style: none;
	text-transform: capitalize;
	font-weight: bold;
	margin-left: 10px;
}

.box-content a {
	text-decoration: none;
	color: #00afff;
	transition: 0.8s;
	font-weight: normal;
}

.box-content a:hover {
	color: #ff0000;
	transition: 0.8s;
}

header {
	background-image: url(banner_small.png);
	background-repeat: no-repeat;
	background-position: center;
}

footer {
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.navigation-box .box-content
	{
		height: 100%;
	}

	.userinfo-box .box-content ul li
	{
		display: block;
		padding-top: 15px;
	}
}

@media screen and (min-width: 1280px) {
	header {
		background-image: url(banner.png);
		background-size: auto 100%;
	}

	.box-content ul li {
		display: block;
		max-width: 200px;
		margin: 15px;

		font-weight: bold;
	}

	.box-header, .navigation-box .box-header {
		display: block;
	}
}
